body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 80%);
  cursor: grab;
}
#calculator {
  font-family: sans-serif, Arial;
  background-color: #fd99cb;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}
#Display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: #f2e6ff;
  color: black;
}
#Keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  width: 22vw; /* Adjusted to be responsive */
  height: 22vw;
  max-width: 100px; /* Prevents buttons from becoming too large on bigger screens */
  max-height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(330, 95%, 83%);
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  cursor: grabbing;
}
button:hover {
  background-color: hsl(330, 95%, 93%);
}
button:active {
  background-color: hsl(330, 95%, 100%);
}
.operator {
  background-color: hsl(333, 97%, 62%);
}
.operator:hover {
  background-color: hsl(333, 97%, 72%);
}
.operator:active {
  background-color: hsl(333, 97%, 82%);
}
